@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This site does not collect any personal data.<br />
    It does not track you, and does not profile you.<br />
    Nothing you do here is saved or logged with information that has anything to do with you.<br />
</p>

