@using IsraelRail.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/stations.js"></script>
<h1>Stations</h1>

<form>
    <div class="form-row">
        <div class="col">
            <select id ="station" class="custom-select">
                @foreach (E_Station s in Enum.GetValues(typeof(E_Station)).Cast<E_Station>())
                {
                    <option value="@((int)s) ">@s</option>
                }
            </select>
        </div>
        <div class="col">
            <button type="button" id="getDataBtn" class="btn btn-primary" onclick="GetStationData()">
                <span id="getDataSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
                <span id="getDataLoad" style="display: none">Loading...</span>
                <span id="getDataTxt">GetData</span>
            </button>
        </div>
    </div>
</form>

<div id="content"></div>