@using IsraelRail.Models.ViewModels;
@model IEnumerable<StationUpdate>

<div>
    <hr />
    <table class="table table-borderless">
        @foreach (StationUpdate stationUpdate in Model)
        {
            <tr>
                <th>@stationUpdate.Name</th>
                <td>@stationUpdate.Content</td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(stationUpdate.Link))
                    {
                        <a href="@stationUpdate.Link">Link</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>